<html>
	<head>
	    <meta charset='utf-8'>
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

	    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	    <title>About</title>
  </head>

  <body>
  	<header>
  	<a href="../index.html">
      <div class="inner">
        <h1>Warren Li</h1>
        <h2></h2>
        <a href="https://github.com/Liwmo/mygithubpage" class="button"><small>View project on</small> GitHub</a>
        <a href="academics.html" class="button link-small"> Projects and Research </a>
        <a href="interests.html" class="button link-small"> Food, Music, and Thoughts </a>
      </div>
    </a>
    </header>

       <div id="content-wrapper"> 
       <div class="inner clearfix"> 
         <section id="main-content"> 
 
 
         <h1>About Me</h1> 
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan gravida convallis. Vivamus eu maximus orci. In hac habitasse platea dictumst. Vivamus vulputate justo nec nunc dictum, vitae aliquet ante tincidunt. Phasellus ut luctus libero. Nulla mattis diam ut justo viverra dapibus. Suspendisse vel libero dolor. Pellentesque vitae purus enim. Ut aliquet sapien turpis, non pharetra tortor tristique vel. Ut ac tincidunt nisl, at aliquet dui. Proin vestibulum nulla ante, in pharetra urna semper sed. Nam sit amet venenatis elit, dictum ullamcorper mauris. Sed ornare nunc id lectus posuere interdum. Suspendisse ac dignissim diam. Aenean nec suscipit neque, ac consequat ex. </p> 
 
         <h2>To be completed soon!</h2> 
         <p> Ut diam eros, tempor in libero fringilla, suscipit vulputate metus. Morbi iaculis nulla vel lorem aliquet, at commodo est pellentesque. In elementum tincidunt ornare. Ut pretium, orci sit amet vulputate sagittis, ipsum velit pharetra neque, pretium egestas diam augue vel arcu. Duis quis interdum lectus. Vivamus quis mauris vel dolor euismod egestas sit amet non lectus. Curabitur tincidunt urna viverra feugiat varius. Donec eleifend efficitur leo quis sodales. In maximus porttitor lacinia. Nulla consequat euismod mi, id scelerisque turpis fringilla et. Sed interdum risus velit, eu placerat arcu lobortis non. Vestibulum laoreet viverra luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus efficitur ex in nunc tristique, non gravida augue tempor. Curabitur at eros eu tellus mollis mollis eget porttitor lacus. Morbi sem nulla, ornare non mollis vitae, egestas sit amet mauris. 
        </p> 
        </section> 

 
         <aside id="sidebar"> 
         	<a href="academics.html" class="button link"> Projects and Research </a>
         	<a href="interests.html" class="button link"> Food, Music, and Thoughts </a>

           <a href="https://github.com/jasonlong/architect-theme/archive/master.zip" class="button"> 
             <small>Download page theme</small> 
             .zip file 
           </a> 
         </aside> 

  </body>
</html>
