<html>
	<head>
	    <meta charset='utf-8'>
	    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="../stylesheets/print.css" media="print">

	    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	    <title>Qwizard Screenshots</title>
  </head>

  <body>
  	<header>
  	<a href="../index.html">
      <div class="inner">
        <h1>Warren Li</h1>
        <h2></h2>
        <a href="https://github.com/Liwmo/mygithubpage" class="button"><small>View project on</small> GitHub</a>
        <a href="academics.html" class="button link-small"> Projects and Research </a>
        <a href="interests.html" class="button link-small"> Food, Music, and Thoughts </a>
      </div>
    </a>
    </header>

       <div id="content-wrapper"> 
       <div class="inner clearfix"> 
         <section id="main-content"> 
         <h1>Qwizard Screenshots</h1> 

         Maker Platform
         <img style="margin-bottom: 30px;" src="../images/qwizard1.png"/>

         Info Page
         <img style="margin-bottom: 30px;" src="../images/qwizard2.png"/>

         Maker - Multiple Select and Multiple Choice Questions
         <img style="margin-bottom: 30px;" src="../images/qwizard3.png"/>

         Maker Dashboard
         <img style="margin-bottom: 30px;" src="../images/qwizard4.png"/>

         Maker - Matching Question
         <img style="margin-bottom: 30px;" src="../images/qwizard5.png"/>

         Taker Stats Page
         <img style="margin-bottom: 30px;" src="../images/qwizard6.png"/>

         Taker Quiz Page
         <img style="margin-bottom: 30px;" src="../images/qwizard7.png"/>

         Taker Results Page (Correct Answer)
         <img style="margin-bottom: 30px;" src="../images/qwizard8.png"/>

         Taker Results Page (Incorrect Answer)
         <img style="margin-bottom: 30px;" src="../images/qwizard9.png"/>

         Hamburger Menu
         <img style="margin-bottom: 30px;" src="../images/qwizard10.png"/>

         Taker - Matching Question
         <img style="margin-bottom: 30px;" src="../images/qwizard11.png"/>

         Popup Menu Style
         <img style="margin-bottom: 30px;" src="../images/qwizard12.png"/>
        </section> 

 
         <aside id="sidebar"> 
         	<a href="academics.html" class="button link"> Projects and Research </a>
         	<a href="interests.html" class="button link"> Food, Music, and Thoughts </a>

           <a href="https://github.com/jasonlong/architect-theme/archive/master.zip" class="button"> 
             <small>Download page theme</small> 
             .zip file 
           </a> 
         </aside> 

  </body>
</html>